name: Publish Nuget Packages 
on:
  push:
    tags:
      - v*.*.*

jobs:
  trigger_build_and_test:
    name: Triggered Build and Test
    uses: alexfariakof/EasyCryptoSalt/.github/workflows/build_and_test.yml@main
    secrets: inherit

  auth_github_package:
    needs: trigger_build_and_test
    name: Autenticar GitHub Packages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Cache .NET packages    
      uses: actions/cache@v3
      id: dotnet-cache
      with:
        path: ~/.nuget/packages
        key: dotnet-packages-${{ github.repository }}
        restore-keys: dotnet-packages-${{ github.repository }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      if: steps.dotnet-cache.outputs.cache-hit != 'true'
      with:
        dotnet-version: 8.0.x   

    - name: Build and Restore App 
      run: |
        dotnet nuget add source --username ${{ secrets.USERNAME }} --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/${{ secrets.NAMESPACE  }}/index.json"
      continue-on-error: false